@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

.container {
    background-color: #7900FF;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Licorice', cursive;
    text-align: center;
    padding: 1rem;
    margin: 0;
    width: 100%;
}