.container {
    background-color: #d4e2ef;
    width: 20rem;
    border-radius: 10px;
    min-height: 20rem;
}
.topBar {
    /* background-color: #00315e; */
    /* background-color: antiquewhite; */
    /* overflow: hidden ; */
    
}